body{
    background: rgb(151, 235, 235);
}

img{
    position: absolute;
    top: 0px;
    left: 0; 
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.cont{
    position: absolute;
    left: 78%;
    top: 20%;
}


p{
    color: darkred;
    text-transform: capitalize;
    
}

h1{
    font-style: italic;
    text-align: center;
}


a{
   
    text-decoration: none;
    text-decoration-line: line-through;
    color: black;
    
